[printer]
kinematics: corexy
max_velocity: 400
max_accel: 6000
max_z_velocity: 50
max_z_accel: 100
square_corner_velocity: 5.0

[mcu]
canbus_interface: can0
canbus_uuid: c196c8228f9e
# Pins PD0/PD1

[mcu rpi]
serial: /tmp/klipper_host_mcu

[pause_resume]
recover_velocity: 50.0

[force_move]
enable_force_move: True

[virtual_sdcard]
path: ~/printer_data/gcodes

[save_variables]
filename: ~/printer_data/config/saved_variables.cfg

[display_status]

[respond]

[exclude_object]

[skew_correction]

[print_stats]

[resonance_tester]
accel_chip: adxl345
probe_points:
    100,100,20
max_freq:120
accel_per_hz: 100

[linear_movement_vibrations]
accel_chip: adxl345
x_min: 5
x_max: 175
y_min: 5
y_max: 175
output_directory: /home/pi/printer_data/linear_vibrations/

[input_shaper]
shaper_freq_x: 49.2
shaper_type_x: zv
shaper_freq_y: 69.4
shaper_type_y: zv

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu]
sensor_type: temperature_mcu
min_temp: 10
max_temp: 100

[temperature_sensor chamber]
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PF4
min_temp: 10
max_temp: 100

[filament_switch_sensor filament_sensor]
#insert_gcode:
#    M118 Filament inserted
#    M117 Filament inserted

[led chamber_lights]
white_pin: PB11
initial_WHITE: 1.0
cycle_time: 0.010

[output_pin laser]
pin: PA8

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

######################################################################
# Plug pin locations
######################################################################

# Some micro-controller boards and displays use inconsistent labeling
# for the EXP1 and EXP2 headers. The following diagram shows the
# correct location of pin 1 along with ground and power pins on the
# EXP1 and EXP2 plugs:
#
#          EXP1:                        EXP2:
#   +-----------------+          +-----------------+
#   |  o  o  o  o  5V |          |  o  o  o  o  o  |
#   |  1  o  o  o GND |          |  1  o  o  o GND |
#   +------     ------+          +------     ------+
#
# Some boards may have the cutout in the wrong location. If so, it may
# be possible to carefully pry the plastic header off of the pins with
# a small screwdriver, then correct the orientation and reapply the
# plastic header.
